<!doctype html>
<html lang="en-US">
{% load static %}
<link rel="stylesheet" href="{% static 'reviews/style.css' %}">
    <head>
        <meta charset="utf8"/>
        <title>Reviews index</title>
    </head>
    <body>
        {% if review_list %}
        <ul>
            {% for review in review_list %}
            <li><a href="{% url 'reviews:detail' review.id %}">{{review.review_title}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No reviews are currently open</p>
        {% endif %}
    </body>
</html>
